@use '../../../stylesVariables.scss' as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;

  img {
    padding: 20px;
  }

  a {
    font-family: 'Cookie', cursive;
    font-size: 5rem;
    color: $secondary-color;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }

  a:focus {
  outline: none;
}

  button {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: transparent;
    color: $secondary-color;
    border: none;
    cursor: pointer;
    text-decoration: underline;
  }
}
