<section class = "searchBooks">
  <h1>Buscar novo livro</h1>

  <form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
    <div class="input-group">
      <label for="search">Buscar por título, autor ou ISBN:</label>
      <input type="text" id="search" formControlName="searchTerm" name="search">
    </div>
      <button type="submit">Buscar</button>
    </form>

    <div class = "results">
      <!-- criando molde para exibir os resultados -->
       @if(showResults) {
         @for (book of searchResult; track book) {
           <div class="book-item">
             <h3>{{ book.title }}</h3>
             <p>{{ book.author }}</p>
           </div>
         }
       }
    </div>
</section>
